<div class="body">
	<div class="container">
		<p class="notice"><%= notice %></p>
		<div class="row">
			<div class="col-xs-3">
				<h2>User info</h2>
				<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
				<table class="table">
					<tbody>
						<tr>
							<th>name</th>
							<th><%= @user.name %></th>
						</tr>
						<tr>
							<th>introduction</th>
							<th><%= @user.introduction %></th>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<% if @user.id == current_user.id %>
					<%= link_to edit_user_path(@user) do %>
					<button class="col-xs-3 btn btn-default">
						<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
					</button>
					<% end %>
					<% end %>
				</div>

				<h2>New book</h2>

				<%= form_for(@book) do |f| %>
				<% if @book.errors.any? %>
				<h2><%= @book.errors.count %> error prohibited this book from being saved:</h2>
				<ul>
					<% @book.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
					<% end %>

				<h4></h4>

				<h4>Title</h4>
				<%= f.text_field :title %>
				<h4>Opinion</h4>
				<%= f.text_area :body %>

				<br><%= f.submit "Create Book" %></br>
				<% end %>
			</div>
			<div class="col-xs-9">
				<h2>Book detail</h2>
				<table class="table">
					<tbody>
						<tr>
							<td>
								<%= link_to @books.user do %>
								<%= attachment_image_tag @books.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %><br>
								<%= @books.user.name %>
								<% end %>
							</td>
							<td><%= link_to @books.title, book_path(@books) %></td>
							<td><%= @books.body %></td>

							<% if @user.id == current_user.id %>
							<td><%= link_to "Edit", edit_book_path(@books) %></td>
							<td><%= link_to "Destroy", book_path(@books), method: :delete, "data-confirm" => "Are you sure?" %></td>
							<% end %>

							<% if @books.favorited_by?(current_user) %>
							<td>
								<%= link_to book_favorites_path(@books), method: :delete do %>
								<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
								<%= @books.favorites.count %>
								<% end %>
							</td>
							<% else %>
							<td>
								<%= link_to book_favorites_path(@books), method: :post do %>
								<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
								<%= @books.favorites.count %>
								<% end %>
							</td>
							<% end %>
							<td>コメント数： <%= @books.post_comments.count %></td>
						</tr>
					</tbody>
				</table>
				<table class="table">
					<tbody>
						<% @post_comments.each do |post_comment| %>
						<tr>
							<td><%= attachment_image_tag post_comment.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %></td>
							<td><%= post_comment.comment %></td>
							<% if post_comment.user == current_user %>
							<td>
								<%= link_to "Destroy", book_post_comment_path(post_comment.book, post_comment), method: :delete %>
							</td>
							<% end %>
						</tr>
						<% end %>
					</tbody>
				</table>
				<%= form_for [@books, @post_comment] do |f| %>
				<div class="row">
					<div class="col-xs-12">
						<%= f.text_area :comment %>
					</div>
				</div>
				<%= f.submit "送信" %>
				<% end %>
			</div>
		</div>
	</div>
</div>